.hero {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    height: 50vw;
    text-align: center;
    align-self: center;
    position: relative;
    gap: 1rem;
}

.hero h2 {
    font-size: 60px;
    color: var(--cor-quartenária);

}

.hmsg {
    width: 25vw;
}

.hero .sub {
    font-size: 55px;
    color: var(--cor-terciária);
}

.hero span {
    color: var(--cor-quartenária);
    font-size: 25px;

}

.hero img {
    width: 40rem;

}