.aside {
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 5vw;
    height: 100vh;
    position: sticky;
    padding: 1rem;
    transition: .2s ease;
    background-color: var(--cor-principal);
}

.aside ul {

    margin-right: 1rem;

}

.aside h2 {
    display: flex;
    position: relative;
    align-items: center;
    justify-self: center;
    margin-right: 2rem;
    padding: 0;
    color: var(--cor-terciária);

}

.aside:hover h2 {
    bottom: 1.8vw;
}

.aside a {
    text-decoration: none;
    display: flex;
    justify-self: center;
    padding: .5rem;
    margin: 2rem 0rem 2rem 0rem;
    align-items: center;
    transition: ease .2s;
    right: 1rem;
    position: relative;
}

.aside svg {
    width: 1.5rem;

}

.aside button {
    color: var(--cor-do-texto);
    display: none;
}

.aside:hover {
    width: 12vw;
}

a:hover svg {
    fill: white;

}

a:hover .i6 {
    fill: none;
    stroke: white;
}

.aside:hover a {
    margin: .5rem;

    position: relative;
    width: 10vw;
}

.aside:hover button {
    display: block;

}

.link {

    color: var(--cor-de-fundo);
}

.active {
    background-color: #1f5c66;


}

.active svg {
    fill: white;
}

.active button {
    color: var(--cor-de-fundo);
}