.aside {
    top: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 5vw;
    height: 100vh;
    position: sticky;
    padding: 1rem;
    transition: .2s ease;
    background-color: var(--cor-principal);
}

.aside ul {
    margin-right: 2rem;
}

.aside h2 {
    display: flex;
    position: relative;
    align-items: center;
    justify-self: center;
    margin: 0;
    padding: 0;

    color: var(--cor-terciária);

}

.aside:hover h2 {
    bottom: 1.8vw;

}

.aside a {
    text-decoration: none;
    display: flex;
    justify-self: center;
    width: 5vw;
    margin: 3rem;
    align-items: center;

    transition: ease .2s;

}

.aside svg {

    width: 1.5rem;
}

.aside button {
    color: var(--cor-do-texto);
    display: none;
}

.aside:hover {
    width: 12vw;
}

.aside:hover a {
    margin: 1.1rem;

    position: relative;
    width: 10vw;

}


.aside:hover button {
    display: block;
}